#thumbs,
#photo{
/*    background-color:#000000;*/
}
#thumbs ul.thumbs{
  display:block;
  height:80px; /* thumb_max_size + 8 */
  margin:0px 1em;
}
#thumbs ul.thumbs li {
  float: left;
  list-style: none outside none;
  margin: 5px 0 5px 0;
  padding: 0;
}
#thumbs a,
#thumbs a:visited
{font-weight:bold;text-decoration:none;border:0;line-height:80px;}
#pageprev{float:left;}
#pagenext{float:right;}

#photo {
  height:420px; /* photo_max_size + 20 */
}
#control,
#photo,
#thumbs{
  width: 420px; /* photo_max_size + 20 */
}
#control #prev{
    float:left;
}
#control
{
    text-align:center;
}
#control #next{
    float:right;
}
/*force thumb sizes*/
.thumb img{width:72px; height:72px;}

/* caption styling */
#caption {
    display:none;
    height:143px;
    width:240px;
    padding:40px 30px 10px 30px;
    font-size:11px;
}